* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-blank: rgb(255, 255, 255);
  --color-green: rgba(22, 180, 43, 0.575);
  --color-yellow: rgba(196, 248, 7, 0.507);
  --color-red: rgba(182, 12, 12, 0);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  height: 80px;
  border-top: 1px solid white;
  width: 100%;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
/* CSS added by Troy */
.row-date {
  height: auto;
  margin-bottom: 20px;
}
.task-slots {
  margin-bottom: 40px;
}
.time-slot {
  border-style: solid;
}
.task-input {
  border-style: solid;
  border-right-style: none;
  border-left-style: none;
  padding: 0;
  height: 100%;
  width: 100%;
}
.check-box {
  border-style: solid;
  text-align: center;
  font-size: 30px;
}
.check-box:hover {
  border-width: 5px;
}
.time {
  font-size: 25px;
  border-style: none;
}
.time:hover {
  outline-style: solid;
}
.time-hour {
  text-align: right;
}
.time-minute {
  text-align: left;
  margin-right: 3px;
}
.colon {
  position: relative;
  top: 5px;
  font-size: 25px;
}
.am-pm {
  border-style: none;
  font-size: 20px;
}

@media (max-width: 1180px) {
  .check-box {
    font-size: 20px;
  }
  .time {
    font-size: 20px;
  }
  .colon {
    font-size: 20px;
    top: 7px;
  }
  .am-pm {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .row-date h1 {
    font-size: 30px;
  }
  .check-box {
    font-size: 15px;
  }
  .time {
    font-size: 20px;
  }
  .colon {
    font-size: 20px;
  }
  .am-pm {
    font-size: 20px;
  }
}
@media (max-width: 725px) {
  .row-date h1 {
    font-size: 25px;
  }
  .check-box {
    font-size: 13px;
  }
  .time {
    font-size: 13px;
  }
  .colon {
    font-size: 20px;
  }
  .am-pm {
    font-size: 15px;
  }
}
